@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table-header-custom {
  background-color: #D1D5DB;  /* Abu-abu terang */
  color: #111827;             /* Teks hitam gelap */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.table td, .table th {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

